.bg-tsl {
	background-color: #418FD5;
}

.btn.btn-tsl {
	background-color: #418FD5;
	color: #fff;
}

.btn.btn-tsl:hover {
	background-color: #2b7dc6;
	color: #fff;
}

.card-close {
	background-color: transparent;
	border: 0; 
	color: #ccc;
	font-size: 20px;
	line-height: 1;
	position: absolute;
	right: 0;
	top: 0;
}

.btn.btn-secondary.card-close:active,
.btn.btn-secondary.card-close:focus,
.btn.btn-secondary.card-close:hover {
	background-color: transparent;
	border: 0;
	box-shadow: none !important;
	color: #aaa;
	text-decoration: none;
}
